h1 {
    color:blueviolet
}



  h2 {
      animation: color-change 5s infinite;
      text-shadow: 1px 1px black
    }


  
  @keyframes color-change {
    0% { color: red; }
    16% {color: orange}
    32% {color: yellow}
    48% {color: green}
    64% {color: blue}
    80% {color: fuchsia}
    100% {color: purple}
    

  }


